@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Noto+Sans+KR:wght@900&display=swap');
body {
    text-align: center;
}
a {
    text-align: center;
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    color: gray;
}
